* {
    margin: 0;
    padding: 0;
}

body, html {
    background: black;
    height: 100%;
    overflow: hidden;
}

select {
    min-width: 150px;
}

#selectPanel {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}

#cameraPanel {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 999;
    /*alignment: center;*/
}

.zoomButton {
    width: 36px;
    height: 36px;
}

.zoomText {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

#imageSource {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

#panel {
    display: none;
    float: left;
    width: 200px;
    height: 100%;
    background: white;
    flex-flow: column;
}

#panelScroll {
    height: 100%;
    overflow-y: auto;
    flex: 1 1 auto;
}

#container {
    position: relative;
    display: flex;
    height: 100%;
}

.configButton {
    /*margin:20px 5px;*/
}

.configColorAlphaContainer {
    margin: 5px;
}

.colorAlphaContainerSplit {
    width: 40px;
    display: inline-block;
}

.configColorButton {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px black solid;
    margin: 2px 0;
}

.configAlphaButton {
    width: 12px;
    height: 24px;
    border: 2px black solid;
    margin: 2px 0;
}

.configCheckbox {
    /*margin:20px 5px;*/
}

.configText {
    /*margin:20px 5px;*/
}

#footer {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

#footer a {
    cursor: pointer;
    display: flex;
    flex-flow: row;
}
a {
    text-decoration: none;
}
a :hover {
    text-decoration: underline;
}

#footer span {
    margin-left: 2px;
    cursor: pointer;
    line-height: 24px;
    vertical-align: middle;
}

.footerIcon {
    width: 24px;
    height: 24px;
}